<br>
<div style="text-align:center;">
<a class="btn btn-success text-center" routerLink="/projects/{{id}}/endpoints/{{idendpoint}}" routerLinkActive="active" role="button">Back to the Endpoint</a>
</div>
<br>
<div class="container position-absolute top-20 start-5 text-center">
    <div class="row">
        <div class="col">
            <div class="p-3 border bg-light mx-auto" style="width: 900px; height: auto;">
                <p class="fs-5 fw-bold text-center"> Vulnerability - Parameter
                    <img src="/assets/img/vulnerability.png" alt="Logo" width="40" height="40">
                    <img src="/assets/img/freccia.jpg" alt="Logo" width="30" height="18">
                    <img src="/assets/img/parameter.png" alt="Logo" width="40" height="40">
                </p>
                <table class="table table-light table-striped mx-auto" style="width:800px; border: 0.7px solid #000000; word-break:break-all;"> 
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Vulnerability Name</th>
                        <th scope="col">Parameter Name</th>
                      </tr>
                    </thead>
                    <tbody *ngFor="let v of Vulparam">
                        <tr>
                            <th scope="row">{{v.id}}</th>
                            <td><button type="button" class="btn btn-link" alt="visualizza vulnerabilità" routerLink="/projects/{{id}}/endpoints/{{idendpoint}}/vulnerabilities/{{v.vulnerabilityId}}" routerLinkActive="active">{{v.vulName}}</button></td>
                            <td><button type="button" class="btn btn-link" alt="visualizza parametro" routerLink="/projects/{{id}}/endpoints/{{idendpoint}}/parameters/{{v.parameterId}}" routerLinkActive="active">{{v.parameterName}}</button></td>
                        </tr>
                    </tbody>
                  </table>        
            </div>
        </div>
        <br>
    </div>
    <br>
<br>
<br>
<br>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>