<br>
<div style="text-align:center;">
    <a class="btn btn-warning text-center" routerLink="/projects/{{id}}" routerLinkActive="active" role="button">Back to the Project</a>
    &nbsp;&nbsp;
    <a class="btn btn-success text-center" routerLink="/projects/{{id}}/endpoints/{{idendpoint}}" routerLinkActive="active" role="button">Back to the Endpoint</a>
</div>
<br>
<div class="container position-absolute top-20 start-5 text-center">
    <div class="row">
        <div class="col">
            <div class="p-3 border bg-light mx-auto" style="width: 900px;">
                <p class="fs-5 fw-bold text-center"> Table Endpoint correlation
                    <img src="/assets/img/endpoint.png" alt="Logo" width="40" height="40">
                    <img src="/assets/img/freccia.jpg" alt="Logo" width="30" height="18">
                    <img src="/assets/img/endpoint.png" alt="Logo" width="40" height="40">
                </p>
                <table class="table table-info table-striped mx-auto" style="width:800px; border: 0.7px solid #000000; word-break:break-all;"> 
                    <thead>
                      <tr>
                        <th scope="col">LinkedEndpoint</th>
                        <th scope="col">NewEndpoint</th>
                      </tr>
                    </thead>
                    <tbody *ngFor="let e of Endcorrs">
                        <tr>
                            <td><button type="button" class="btn btn-link" alt="visualizza endpoint" routerLink="/projects/{{id}}/endpoints/{{e.LinkedEndpointId}}" routerLinkActive="active">{{e.LinkedEndpoint}}</button></td>
                            <td><button type="button" class="btn btn-link" alt="visualizza endpoint" routerLink="/projects/{{id}}/endpoints/{{e.NewEndpointId}}" routerLinkActive="active">{{e.NewEndpoint}}</button></td>
                        </tr>
                    </tbody>
                  </table>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>