
myExpressApp/configdb.js
myExpressApp/node_modules/
DBcreation.py

## Angular
.DS_STORE

frontend/.angular
frontend/dist/
frontend/bazel-out
frontend/integration/bazel/bazel-*
frontend/.log
frontend/node_modules/

# CircleCI temporary file for cache key computation.
# See `save_month_to_file` in `.circleci/config.yml`.
frontend/month.txt
frontend/src/assets
# Include when developing application packages.
frontend/pubspec.lock
frontend/.c9
frontend/.idea/
frontend/.devcontainer/*
!frontend/.devcontainer/README.md
!frontend/.devcontainer/recommended-devcontainer.json
!frontend/.devcontainer/recommended-Dockerfile
frontend/.settings/
frontend/.vscode/launch.json
frontend/.vscode/settings.json
frontend/.vscode/tasks.json
frontend/*.swo
frontend/*.swp
frontend/modules/.settings
frontend/modules/.vscode
frontend/.vimrc
frontend/.nvimrc

# Don't check in secret files
frontend/*secret.js

# Ignore npm/yarn debug log
frontend/npm-debug.log
frontend/yarn-error.log

# build-analytics
frontend/.build-analytics

# rollup-test output
frontend/modules/rollup-test/dist/

# User specific bazel settings
frontend/.bazelrc.user

# User specific ng-dev settings
frontend/.ng-dev.user*

frontend/.notes.md
frontend/baseline.json

# Ignore .history for the xyz.local-history VSCode extension
frontend/.history

# Husky
frontend/.husky/_
frontend/aio/content/examples/.DS_Store
