<br>
<div style="text-align:center;">
<a class="btn btn-warning text-center" routerLink="/projects/{{id}}" routerLinkActive="active" role="button">Back to the Project</a>
&nbsp;&nbsp;
<a class="btn btn-success text-center" routerLink="/projects/{{id}}/endpoints/{{idendpoint}}" routerLinkActive="active" role="button">Back to the Endpoint</a>
</div>
<br>
<p class="fs-5 fw-bold text-center">List of all Parameters
    <img src="/assets/img/parameter.png" alt="Logo" width="40" height="40">
</p>
<div class="container-md text-center mx-auto">
  <div class="row row-cols-2 row-cols-lg-2">
    <div class="col mx-auto">
      <table *ngFor="let p of Parameter" class="table table-responsive flex-wrap">
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col">Parameter Name</th>
              <th scope="col">Note</th>
            </tr>
          </thead>
          <tbody>
              <tr>
                  <th scope="row">
                    <button type="button" class="btn btn-primary" title="Show Parameter" routerLink="/projects/{{id}}/endpoints/{{idendpoint}}/parameters/{{p.id}}" routerLinkActive="active">View/Modify</button>
                  </th>
                  <td>{{p.parameterName}}</td>
                  <td>{{p.note}}</td>
              </tr>
          </tbody>
        </table>
    </div>
  </div>
</div>
<br>
<br>
