<br>
<div style="text-align:center;">
  <form (ngSubmit)="refreshTestCheck()">
  <a class="btn btn-warning text-center" routerLink="/projects/{{id}}" routerLinkActive="active" role="button">Back to the Project</a>
  &nbsp;&nbsp;
  <button type="submit" class="btn btn-primary text-center">Refresh Test Check</button></form>
</div>
<br>
<div class="container mx-auto">
  <div class="row row-cols-1 row-cols-lg-1 g-2 g-lg-3">
    <div class="col mx-auto p-3 border bg-light">
      <p class="fs-5 fw-bold text-center" style="color:rgb(53, 96, 177); text-align: left;" >Endpoint Search Form
        <img src="/assets/img/search.png" alt="Logo" width="40" height="40"></p>
      <form (ngSubmit)="endpointSearch()" [formGroup]="searchEndpointForm" role="search" class="row align-items-center justify-content-center">
          <div class="col-md-auto">
          <label for="searchType" class="form-label">Value to search</label>
          <input class="form-control me-2" id="valueSearch" formControlName="valueSearch" type="search" placeholder="Insert endpoint to search" aria-label="Search">
          <p *ngIf="!searchEndpointForm.get('valueSearch')!.valid && searchEndpointForm.get('valueSearch')!.touched">* Insert name of value</p>
          </div>
          <div class="col-md-auto">
            <button class="btn btn-primary text-center" [disabled]="!this.searchEndpointForm.valid" type="submit">Search</button>
          </div>
      </form>
      <br>
      <p class="fs-5 fw-bold text-center"> Results of research</p>
      <table *ngFor="let e of Endpoints" class="table table-success table-striped mx-auto" style="width:300px; border: 0.7px solid #000000; word-break:break-all;">
          <thead>
            <tr>
              <th scope="col">Endpoint Name</th>
            </tr>
          </thead>
          <tbody>
              <tr>
                  <th scope="row"><button type="button" class="btn btn-link" alt="view endpoint" routerLink="/projects/{{e.projectId}}/endpoints/{{e.id}}" routerLinkActive="active">{{e.Endpoint}}</button></th>
              </tr>
          </tbody>
      </table>
    </div>
    <hr>
    <div class="row-cols-1">
      <form (ngSubmit)="getEndpointsByDomain()" [formGroup]="EndpointForm" role="search" class="row align-items-center justify-content-center">
        <label for="searchType" class="form-label fs-5 fw-bold" style="color:rgb(13, 136, 78); text-align: left;">Filter by domain</label>
        <select ng-model="selectedDomain" id="selectedDomain" formControlName="selectedDomain" class="form-select">
        <option *ngFor="let d of Domain" [value]="d.domain">{{d.domain}}</option>
      </select>
      {{selectedDomain}}
      <button class="btn btn-success text-center" [disabled]="!this.EndpointForm.valid" type="submit">View</button>
    </form>
      
    <div class="container-md text-center mx-auto">
      <div class="row row-cols-2 row-cols-lg-2">
        <div class="col mx-auto">
          <table class="table table-responsive flex-wrap">
              <thead>
                <tr>
                  <th scope="col"></th>
                  <th scope="col">Path UI</th>
                  <th scope="col">Domain</th>
                  <th scope="col">Name</th>
                  <th scope="col">Check</th>
                </tr>
              </thead>
              <tbody *ngFor="let e of EndpointsByDomain">
                  <tr>
                      <th scope="row">
                        <button type="button" class="btn btn-success" title="Show Endpoint" routerLink="/projects/{{id}}/endpoints/{{e.id}}" routerLinkActive="active">View/Modify</button>
                      </th>
                      <td>{{e.pathUI}}</td>
                      <td>{{e.domain}}</td>
                      <td>{{e.endpoint}}</td>
                      <td><div class="center">
                      <input class="form-check-input" type="checkbox" id="testCheck" aria-label="..." [checked]="e.testCheck" >
                      </div>
                    </td>
                  </tr>
              </tbody>
            </table>
        </div>
      </div>
    </div>
  </div>

  <hr>

  <div class="row-cols-1">
    <form (ngSubmit)="filterEndpointsByCheck()" [formGroup]="EndpointsByCheckForm" role="search" class="row align-items-center justify-content-center">
      <label for="searchType" class="form-label fs-5 fw-bold" style="color:rgb(136, 13, 13); text-align: left;">Filter by Check State</label>
      <select ng-model="selectedTestCheck" id="selectedTestCheck" formControlName="selectedTestCheck" class="form-select">
        <option value="1">Checked</option>
        <option value="0">Not Checked</option>
      </select>
    <button class="btn btn-danger text-center" [disabled]="!this.EndpointsByCheckForm.valid" type="submit">View</button>
  </form>
    
  <div class="container-md text-center mx-auto">
    <div class="row row-cols-2 row-cols-lg-2">
      <div class="col mx-auto">
        <table class="table table-responsive flex-wrap">
            <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col">Path UI</th>
                <th scope="col">Domain</th>
                <th scope="col">Name</th>
                <th scope="col">Check</th>
              </tr>
            </thead>
            <tbody>
                <tr *ngFor="let e of EndpointsByCheck">
                    <th scope="row">
                      <button type="button" class="btn btn-danger" title="Show Endpoint" routerLink="/projects/{{id}}/endpoints/{{e.id}}" routerLinkActive="active">View/Modify</button>
                    </th>
                    <td>{{e.pathUI}}</td>
                    <td>{{e.domain}}</td>
                    <td>{{e.endpoint}}</td>
                    <td><div class="center">
                    <input class="form-check-input" type="checkbox" id="testCheck" aria-label="..." [checked]="e.testCheck" >
                    </div>
                  </td>
                </tr>
            </tbody>
          </table>
      </div>
    </div>
  </div>
</div>

  </div>
</div>
<br>
<hr>
<p class="fs-5 fw-bold text-center">List of all Endpoints
    <img src="/assets/img/endpoint.png" alt="Logo" width="40" height="40">

</p>
<div class="container-md text-center mx-auto">
  <div class="row row-cols-2 row-cols-lg-2">
    <div class="col mx-auto">
      <table class="table table-responsive flex-wrap">
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col">Path UI</th>
              <th scope="col">Domain</th>
              <th scope="col">Name</th>
              <th scope="col">Check</th>
            </tr>
          </thead>
          <tbody>
              <tr *ngFor="let e of Endpoint">
                  <th scope="row">
                    <button type="button" class="btn btn-primary" title="Show Endpoint" routerLink="/projects/{{id}}/endpoints/{{e.id}}" routerLinkActive="active">View/Modify</button>
                  </th>
                  <td>{{e.pathUI}}</td>
                  <td>{{e.domain}}</td>
                  <td>{{e.endpoint}}</td>
                  <td><div class="center"><input class="form-check-input" type="checkbox" id="testCheck" aria-label="..." [checked]="e.testCheck"></div></td>
              </tr>
          </tbody>
        </table>
    </div>
  </div>
</div>
<br>
<br>
