<br>
<div style="text-align:center;">
  <a class="btn btn-danger text-center" routerLink="/projects" routerLinkActive="active" role="button">Projects List</a>
</div>
<br>
<div class="container mx-auto">
    <div class="row row-cols-1 row-cols-lg-3 g-2 g-lg-3">
        <div class="col mx-auto">
            <div *ngFor="let p of Project" class="p-3 border bg-light">
                <p class="fs-5 fw-bold text-center"> Project card
                    <img src="/assets/img/project.jpeg" alt="Logo" width="40" height="40">
                </p>
                <div class="card">
                    <div class="card-header text-center">ID:&nbsp;{{p.id}}</div>
                    <div class="card-body">
                      <blockquote class="blockquote mb-0">
                        <p><label for="Name" class="fs-6 fw-bold" style="color:rgb(247, 140, 40);">Name:&nbsp;</label>{{p.projectName}}</p>
                        <br>
                        <footer class="blockquote-footer" style="color:rgb(247, 140, 40);">Creation date:&nbsp;<br><cite style="color:rgb(0, 0, 0);" title="Data">{{p.creationDate}}</cite></footer>
                        <div style="text-align:center;">
                          <button type="button" class="btn btn-danger" (click)="deleteProjectById()" title="Delete Project"><img src="/assets/img/delete.png" width="24" height="24"></button>
                          &nbsp;&nbsp;
                          <button type="button" class="btn btn-warning" routerLink="/projects/{{id}}/editproject" routerLinkActive="active" title="Update Project"><img src="/assets/img/edit.png" width="24" height="24"></button>
                        </div>
                      </blockquote>
                    </div>
                </div>
            </div>
        </div>


        <div class="col text-center mx-auto">
            <div class="p-3 border bg-light" >
                <div class="card">
                    <div class="card-header fw-bold text-center" style="color:rgb(240, 35, 35);">List parameters of an endpoint<img src="/assets/img/table.jpg" alt="Logo" width="50" height="30"></div>
                    <div class="card-body">
                      <blockquote class="blockquote mb-0">
                        <a class="btn btn-danger" routerLink="/projects/{{id}}/endparam" routerLinkActive="active" href="#" role="button">Show Parameters</a>
                      </blockquote>
                    </div>
                </div>
                <br>
                <div class="card">
                    <div class="card-header fw-bold" style="color:rgb(53, 177, 53); text-align: center;">List endpoints of this project
                        <img src="/assets/img/list.png" width="24" height="24" class="d-inline-block align-text-top">
                    </div>
                    <div class="card-body">
                      <blockquote class="blockquote mb-0">
                        <a class="btn btn-success text-center" routerLink="/projects/{{id}}/endpoints" routerLinkActive="active" role="button">Show Endpoints</a>
                      </blockquote>
                    </div>
                </div>
                <br>
                <div class="card">
                    <div class="card-header fw-bold" style="color:rgb(27, 120, 182); text-align: center;">Search
                        <img src="/assets/img/search.png" width="24" height="24" class="d-inline-block align-text-top">
                    </div>
                    <div class="card-body">
                      <blockquote class="blockquote mb-0">
                        <a class="btn btn-info text-center" routerLink="/projects/{{id}}/search" routerLinkActive="active" role="button">Go</a>
                      </blockquote>
                    </div>
                </div>
            </div>
        </div>


        <div class="col mx-auto">
            <div class="p-3 border bg-light">
                <h6 class="fw-bold" style="color:rgb(52, 75, 202); text-align: center;">Insert new Endpoint&nbsp;<img src="/assets/img/endpoint.png" width="24" height="24" class="d-inline-block align-text-top"></h6>
                <form (ngSubmit)="createEndpoint()" [formGroup]="addEndpointForm">
                    <div fs-6 text-left>
                      <label for="pathUI" class="form-label">Path UI</label>
                      <input type="text" class="form-control" id="pathUI" formControlName="pathUI" placeholder="Insert path of UI (ex. Login -> Bacheca)" style="text-align:left;">
                      <p *ngIf="!addEndpointForm.get('pathUI')!.valid && addEndpointForm.get('pathUI')!.touched">* Insert a Path UI</p>
                    </div>
                    <div fs-6 text-left>
                      <label for="domain" class="form-label">Domain</label>
                      <input type="text" class="form-control" id="domain" formControlName="domain" placeholder="Insert domain (ex. google.com)">
                      <p *ngIf="!addEndpointForm.get('domain')!.valid && addEndpointForm.get('domain')!.touched">* Insert a Domain</p>
                    </div>
                    <div fs-6 text-left>
                      <label for="endpoint" class="form-label">Endpoint</label>
                      <input type="text" class="form-control" id="endpoint" formControlName="endpoint" placeholder="Insert endpoint (ex. /api/v2/adduser)">
                      <p *ngIf="!addEndpointForm.get('endpoint')!.valid && addEndpointForm.get('endpoint')!.touched">* Insert an Endpoint</p>
                    </div>
                    <p fs-6 text-left>
                      <label for="apiDescription" class="form-label">Description</label>
                      <textarea class="form-control" id="apiDescription" formControlName="apiDescription" placeholder="Insert a description" id="ApiDescription" style="height: 100px"></textarea>
                    </p>
                    <div class="col-md-6">
                      <label for="environment" class="form-label">Environment</label>
                      <select id="environment" formControlName="environment" class="form-select">
                        <option value="1">TESTING</option>
                        <option value="0">PRODUCTION</option>
                      </select>
                      <p *ngIf="!addEndpointForm.get('environment')!.valid && addEndpointForm.get('environment')!.touched">* Insert environment for Endpoint</p>
                    </div>
                    <p fs-6 text-left>
                      <label for="linkedEndpointID" class="form-label">ID referenced Endpoint</label>
                      <select ng-model="selectedLinkedEndpointID" id="linkedEndpointID" formControlName="linkedEndpointID" class="form-select">
                        <option *ngFor="let e of Endpoint" [value]="e.id">{{e.id}},&nbsp;{{e.endpoint}}</option>
                      </select>
                      {{selectedLinkedEndpointID}}
                    </p>
                    <div style="text-align:center;">
                      <button type="submit" class="btn btn-primary text-center" [disabled]="!this.addEndpointForm.valid">Add Endpoint</button>
                    </div>
                </form>
              </div>
          </div>
    </div>
</div>
<br>
<br>
