<div class="container">
  <div class="row">
    <div class="col text-center mt-5">
      <img src="/assets/img/logo.png" alt="Logo" class="img-fluid">
      <h1 class="logo-text">TrackSecAPI</h1>
    </div>
  </div>
  <div class="row">
    <div class="col text-center mt-3">
      <button type="button" class="btn btn-primary" title="Create new Project" routerLink="/addproject" routerLinkActive="active">Create new Project</button>
      <br>
      <br>
      <button type="button" class="btn btn-secondary" title="View all Project" routerLink="/projects" routerLinkActive="active">View all Projects</button>
    </div>
  </div>
</div>
